<!DOCTYPE html>
{% set error = error or request.args.error %}
{% set message = message or request.args.message %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            function copy(text) {
                navigator.clipboard.writeText(text);
                M.toast({ html: 'Copied ' + text });
            }
        </script>
        <title>URL Shortener</title>
        {% block head_content %}{% endblock %}
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo left"><code>wol.fyi</code></a>
                <ul id="nav-mobile" class="right">
                {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% else %}
                    <li><a href="{{ url_for('account') }}" title="Mannage account">{{ current_user.email }}</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
            {% if error %}<div class="card-panel red">{{ error }}</div>{% endif %}
            {% if message %}<div class="card-panel teal">{{ message }}</div>{% endif %}
        </div>
    </body>
</html>
