{% extends "base.html" %}

{% block content %}
    {% include 'create_form.html' %}
    <h3>Existing:</h3>
    {% for u in current_user.urls|sort(attribute='created')|reverse %}
        {% if copy == u.id %}
            <script>copy('{{ request.host }}/{{ u.id }}')</script>
        {% endif %}
        <div class="card-panel">
            <small class="right">{{ u.created|format_date }}</small>
            <div class="card-content">
                <a href="{{ u.url|safe }}" target="#" style="overflow-wrap: break-word;">{{ u.url|safe }} <i class="tiny material-icons">launch</i></a>
            </div>
            <div class="card-content">
                <a href="javascript:copy('{{ request.host }}/{{ u.id }}')" class="btn-flat waves-effect" style="text-transform: none;"><i class="material-icons right">content_copy</i><code>{{ request.host }}/{{ u.id }}</code></a>
            </div>
            <div class="card-content">
                <a href="{{ url_for('edit_url', id=u.id) }}" class="btn-small"><i class="material-icons left">edit</i>Edit</a>
                <a href="{{ url_for('delete_url', id=u.id) }}" class="btn-small"><i class="material-icons left">delete</i>Delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
