{% extends "base.html" %}

{% block content %}
<h3>Register</h3>
<form method="POST">
    <label for="invite">Invite code:</label>
    <input id="invite" name="invite" {% if invite %}value="{{ invite.id }}" disabled{% endif %} />
    <label for="email">Email:</label>
    <input id="email" name="email" value="{{ request.form.email }}" />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />
    <label for="password2">Password again:</label>
    <input type="password" id="password2" name="password2" />
    {% if error %}
        <div class="card-panel red">{{ error }}</div>
    {% endif %}
    <input type="submit" class="btn" value="Register" />
</form>
{% endblock %}
